name: Tar modules

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  tar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Tar modules
        run: |
          for D in ls -d *-*; do
            (cd ${D} && tar caf ../${D}.tgz *.ko)
          done

      # Upload img
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: Modules
          path: ./*.tgz
          retention-days: 1

      # Publish a release if is a tag
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            *.tgz
